/Data/*
!/Data/Readme.md
/Modules/*
!/Modules/Readme.md
/bin/*
!/bin/README.md
/figs/*.pdf
cluster_data
/cluster_data/*
/scripts/test_tex/*
!/scripts/test_tex/test.tex
!/scripts/test_tex/test.pdf
!/scripts/test_tex/.latexmkrc
!/scripts/test_tex/plot.py
